/* Write your CSS here */
.gender-card-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #1c1c2b;
  margin-bottom: 20px;
}

.gender-card-heading {
  font-family: 'roboto';
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #94a3b8;
}
